# 開発環境用の環境変数設定例
# このファイルをコピーして .env.development として使用してください

# 環境設定
NEXT_PUBLIC_ENV=development
NODE_ENV=development

# NextAuth設定
NEXTAUTH_SECRET=dFIWzT92Oi8MA+m55uQJ3mw9HfNUT94BK1nZBELtdFc=
NEXTAUTH_URL=http://localhost:3000

# e-Stat API設定
ESTAT_API_BASE_URL=https://api.e-stat.go.jp/rest/3.0/app
NEXT_PUBLIC_ESTAT_APP_ID=59eb12e8a25751dfc27f2e48fcdfa8600b86655e

# ローカルD1設定
LOCAL_D1_PATH=.wrangler/state/v3/d1/miniflare-D1DatabaseObject/b3c084603f7be30f18c6a887d294217e3e6b2010e83e9d09910eae3515a26884.sqlite